
  <section id=results>
    <img src="<%= bookSelection.image_url %>"/>
    <h2><%= bookSelection.title %></h2>
    <h3><%= bookSelection.author %></h3>
    <p><%= bookSelection.description %></p>
    <p>ISBN: <%= bookSelection.isbn %></p>
    <p>Bookshelf: <%= bookSelection.bookshelf %></p>    
  </section>

