
  <section id=results>
      <img src="<%= book.image %>"/>
      <h2><%= book.title %></h2>
      <h3><%= book.author %></h3>
      <p><%= book.description %></p>
      <p>ISBN: <%= book.isbn %></p>
      <p>Bookshelf: <%= book.bookshelf %></p>      
  </section>

