<section>
  <form id="updateForm" action="/update/<%= book.id %>?_method=PUT" method="post">
    <input type="text" name="title" value="<%= book.title %>">
    <input type="text" name="author" value="<%= book.author %>">
    <input type="text" name="isbn" value="<%= book.isbn %>">
    <input type="text" name="image_url" value="<%= book.image_url %>">
    <input type="text" name="description" value="<%= book.description %>">
    <input type="text" name="bookshelf" value="<%= book.bookshelf %>" placeholder="bookshelf">
    <button type="submit">Update This Book</button>
  </form>
</section>