<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
</head>
<body>
  <main>
    <%- include('../../layout/header') %>
    <section class="show-page">
      <%- include('./detail.ejs', {book:book}) %>
      <span class="isbn">ISBN: <%= book.isbn %></span>
      <span class="bookshelf">Bookshelf: <%= book.bookshelf %></span>
      <a href="/books/<%= book.id%>">View Details</a>    
    </section>
  </main>
</body>
</html>