<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/reset.css" rel="stylesheet"/>
  <link href="/styles/base.css" rel="stylesheet"/>
  <link href="/styles/layout.css" rel="stylesheet"/>
  <link href="/styles/modules.css" rel="stylesheet"/>
  <title>Book Collection</title>
</head>
<body>
  <section class="main-page">
    <% searchResults.forEach( book => { %>
      <%- include('../books/detail.ejs', {book:book}) %>

      <form action="/addbook" method="POST">
        <input type="hidden" name="title" value="<%= book.title %>" />
        <input type="hidden" name="author" value="<%= book.author %>" />
        <input type="hidden" name="description" value="<%= book.description %>" />
        <input type="hidden" name="image" value="<%= book.image_url %>" />
        <input type="hidden" name="isbn" value="<%= book.isbn %>" />

        <button type="submit">Add to favorites</button>
      </form>
    <% }) %>
    </section>
  
</body>
</html>