<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <main>
    <%- include('../layout/header') %>
    <section class="main-page">
      <% let counter = 0; %>
      <% book.forEach( book => { %>
        <%- include('./books/detail.ejs', {book:book}) %>
        <a href="/books/<%= book.id%>">View Details</a>
        <% counter++; %>
        <% }) %>
        <span class="counter">Total saved books <%= counter %></span>
    </section>
  </main>
</body>
</html>